.karmaCounter {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.karmaCounter > * + * {
	padding: 0 0 0 4px;
  }
  
  
 
 
  @media all and (min-width: 1024px) {
	.karmaCounter {
	  justify-content: center;
	  flex-flow: column nowrap;
	}
	.karmaCounter > * + * {
	  padding: 7px 0 0;
	}
  
	.karmaCounter span {
	  color: var(--black);
	}
  }
  
 